<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 3px solid #c4dde2; background: #f3f3f3;" width="600" >
    <tr>
        <td rowspan="50"  width="100px" style="background: #2597AC;"></td> 
        <td colspan="3" style="background-color: #F2F2F0;"><img src="https://uploaddeimagens.com.br//images/000/494/570/thumb/Logo_-_Jezzy-03.png?1440206386" style="padding-top:10px; float: right;margin-right: 24px;" width="150" /></td>
    </tr>
    <tr style="background: #ffffff;">

        <td style="font-size: 11px; padding: 5px; text-align: right; padding-right: 25px;" width="" >
            <span style="font-family: 'Open Sans', sans-serif; color: #2579AC; font-size: 15px; ">PREZADO CLIENTE</span><br/>
            <span style="font-family: 'Open Sans', sans-serif; color: #2579AC; font-size: 13px; ">Confira seus dados para acesso!</span>
        </td>
    </tr>
    <tr>
        <td colspan="2"><img src="https://uploaddeimagens.com.br//images/000/494/566/full/_IMG_-_Jezzy_Email_Boas_vindas.jpg?1440206153" width="100%" /></td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 15px;">
            <br/>
            <span  style=" color: #2579AC; font-family: Helvetica; font-size: 16px;">{[(name)]} <br> Seja Bem-Vindo!
            </span>
        </td>
    </tr>

    <tr>
        <td style="padding-left: 15px; color:#999;font-size: 12px; font-family: Helvetica;" colspan="2">
            <br/>
            <span style="font-family: 'Open Sans', sans-serif;">
                Confira se seus dados estão corretos para ter acesso ao Jezzy.
            </span>
            <br />
            <br/>
            <span style="color: #3399cc; font-family: 'Open Sans', sans-serif;">Email:</span> {[(email)]}<br/>
            <span style="color: #3399cc; font-family: 'Open Sans', sans-serif;">Senha:</span> {[(pass)]}
            <br/>
            <br/>
            <strong>Acesse o Jezzy através do link:</strong> http://secure.jezzy.com.br/portal/user/login
            <br/>
            <strong>Baixe nossa aplicações para IOS ou ANDROID</strong>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 8px;" colspan="2">
            <img width="100px" src="https://uploaddeimagens.com.br/images/000/494/979/original/Plataformas_Mobile-01.png?1440287067"><img width="100px" src="https://uploaddeimagens.com.br/images/000/494/980/original/Plataformas_Mobile-02.png?1440287092"> 
        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;   
             border-bottom: 2px solid #999933;
             border-top: 2px solid #999933;">
            <img style="margin-right: 10px;" width="" src="https://uploaddeimagens.com.br/images/000/495/946/original/Midias_Sociais_-fb.png?1440467012"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/945/original/Midias_Sociais_-_twitter.png?1440466983"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/944/original/Midias_Sociais_-_in.png?1440466946"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/943/original/Midias_Sociais_-_google.png?1440466885"> 
        </td>
    </tr>
    <tr>
        <td style='padding-left: 15px;' colspan="2">
            <img width="520px"  src="https://uploaddeimagens.com.br/images/000/494/994/original/mensagem_fim.png?1440289552">
        </td>
    </tr>
</table>

