<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-bottom: 3px solid #c4dde2; background: #f3f3f3;" width="600" >
    <tr>
        <td rowspan="50"  width="100px" style="background: #2597AC;"></td> 
        <td colspan="3" style="background-color: #F2F2F0;"><img src="https://uploaddeimagens.com.br//images/000/494/570/thumb/Logo_-_Jezzy-03.png?1440206386" style="padding-top:10px; float: right;margin-right: 24px;" width="150" /></td>
    </tr>
    <tr style="background: #ffffff;">

        <td style="font-size: 11px; padding: 5px; text-align: right; padding-right: 25px;" width="" >
            <span style="font-family: 'Open Sans', sans-serif; color: #2579AC; font-size: 15px; ">PEDIDO Nº {[(order_number)]}</span><br/>
            <span style="font-family: 'Open Sans', sans-serif; color: #2579AC; font-size: 13px; ">Pagamento Aprovado!</span>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="padding-left: 15px;">
            <br/>
            <span  style=" color: #2579AC; font-family: Helvetica; font-size: 16px;">Caro Sr(a). {[(name)]}
            </span>
        </td>
    </tr>

    <tr>
        <td style="padding-left: 15px; color:#999;font-size: 12px; font-family: Helvetica;" colspan="2">
            <br>
            <p>
                <span style="font-family: 'Open Sans', sans-serif;">
                    <b>Seu pedido foi aprovado com sucesso!</b>
                    <br>
                    Confira as informações abaixo que constam em seu pedido <b>Nº {[(order_number)]}</b> realizado em <b>{[(order_date)]} as {[(order_time)]}.</b> 
                </span>
            </p>
            <p>
                <span style="font-family: 'Open Sans', sans-serif;">
                    <b>Detalhes do pedido:</b>
                </span>
            </p>
            <p>
                <span style="font-family: 'Open Sans', sans-serif;">
                    {[(order_detail)]}
                </span>
            </p>
        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;     
             padding-left: 15px;
             text-align: center;
             font-size: 23px;
             font-style: italic;
             color: #999933;">
            Produtos
        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;   
             border-top: 2px solid #999933; 
             color:#999;font-size: 12px; 
             font-family: Helvetica;
             text-align: center;">
            <br>
            {[(order_list)]}
            <br><br>
            <p style="    
               float: right;
               margin-right: 25px;">
                <b>
                    Total: {[(order_total)]}
                </b>
            </p>

        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;    
             padding-left: 15px;
             text-align: center;
             font-size: 23px;
             font-style: italic;
             color: #999933; ">
            Entrega
        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;   
             border-top: 2px solid #999933; 
             color:#999;font-size: 12px; 
             font-family: Helvetica;">
            <span style="font-family: 'Open Sans', sans-serif;">
                <br>
                O endereço de entrega iformado/selecionado por você foi:
                <br>
                A/C {[(name)]}
                <br>
                End: {[(address)]}
                <br>
                CEP: {[(cep)]} | {[(city)]} - {[(state)]}
                <br>
            </span>
            <p>
                <b>
                    ORIENTAÇÕES IMPORTANTE!
                </b>
            </p>
            <p>
                - A entrega será realizada pela {[(company_name)]} ou por uma transportadora designada por ela. Se tiver dúvidas, por favor entre em contato diretamente com a empresa.<br>
                - Se seu pedido possui mais de um item, estes podem ser enviados separadamente, de acordo com a disponibilidade do estoque da empresa.<br>
                - Se a entrefa apresentar divergências como embalagens abertas ou avariada, falta de acessórios, ou produtos em desacordo com o solicitado, recuse a entrega e contate imediatamente nossa central de atendimento. <br>
                - Juntamente com seu pedido você deverá receber uma representaçãao simplificada da NF-e e DANFE (Documento auxilidar da nova fiscal eletronica). Na DANFE existe uma chave numerica (chave de acesso) de cada pedido, e com ela você poderá consultar e até mesmo imprimir uma versão de sua nota fiscal eletronica no site do ministerio da fazenda.<br>
                - Se precisar trocar ou devolver um produto em contato com a empresa {[(company_name)]} atraves dos dados abaixo ou com nossa central de atendimento.
            </p>
            <br>
            <b>
                A/C {[(company_name)]}
                <br>
                End: {[(company_address)]}
                <br>
                CEP: {[(company_cep)]} | {[(company_city)]} - {[(company_state)]}
                <br>
                Telefone: {[(company_phone)]}
                <br>
                Email: {[(company_email)]}
                <br>
            </b>
            <p>
                A qualquer momento você pode acompanhar o andamento do seu pedido pelo portal Jezzy acessando www.jezzy.com.br e no menu Minhas compras. <a href="#">Clique aqui</a> para verificar agora.
            </p>
            <p>
                Se precisar, entre em contato com nossa central de atendimento. <br>De segunda a sexta das 8 às 18h.
            </p>
            <br>
        </td>
    </tr>

    

    <tr>
        <td colspan="2" style="padding-left: 15px;   
            color:#999;font-size: 12px; 
            font-family: Helvetica;">
            <p>
                <b>Baixe nossas aplicações para IOS ou Android:</b>
            </p>
        </td>
    </tr>
    <tr>

        <td style="padding-left: 8px;" colspan="2">
            <img width="100px" src="https://uploaddeimagens.com.br/images/000/494/979/original/Plataformas_Mobile-01.png?1440287067"><img width="100px" src="https://uploaddeimagens.com.br/images/000/494/980/original/Plataformas_Mobile-02.png?1440287092"> 
        </td>
    </tr>
    <tr >
        <td  colspan="2" style="padding-left: 15px;   
             border-bottom: 2px solid #999933;
             border-top: 2px solid #999933;">
            <img style="margin-right: 10px;" width="" src="https://uploaddeimagens.com.br/images/000/495/946/original/Midias_Sociais_-fb.png?1440467012"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/945/original/Midias_Sociais_-_twitter.png?1440466983"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/944/original/Midias_Sociais_-_in.png?1440466946"><img style="margin-right: 10px;"  width="" src="https://uploaddeimagens.com.br/images/000/495/943/original/Midias_Sociais_-_google.png?1440466885"> 
        </td>
    </tr>
    <tr>
        <td style='padding-left: 15px;' colspan="2">
            <img width="520px"  src="https://uploaddeimagens.com.br/images/000/494/994/original/mensagem_fim.png?1440289552">
        </td>
    </tr>
</table>

